.header {
  position: relative;
  z-index: 6;
  height: 35px;
  display: flex;
  justify-content: flex-end;
}

.main-page-nav {
  display: flex;
  align-items: center;
  > * {
    padding: 0 5px;
  }
}

.wrapper-prompt {
  display: flex;
}

.wrapper-auto-pronunciation {
  display: flex;
  align-items: center;
  padding: 10px;
}

.prompt {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.audio-prompt {
  background: url('../assets/img/micro.svg'), #00c49d;
}

.translate-prompt {
  background: url('../assets/img/translate.svg'), #00c49d;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.volume-prompt {
  background: url('../assets/img/music.svg'), #00c49d;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.image-prompt {
  background: url('../assets/img/image.svg'), #00c49d;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.pronunciation-audio {
  background: url('../assets/img/micro.svg');
}
